fm2 {
font-size: 2vmin;
}

bb {
  font-weight: 800;
}

tonica {
  color: #0097c9;
}

subdominante {
  color: #f8642d;
}

dominante {
  color: #c0585d;
}

redufmg {
  color: rgb(200,16,46);
}


laranja1 {
  color: rgb(220,110,30);
}

laranja2 {
  color: #ff9048;
}

vemerlho1 {
  color: rgb(200,70,0);
}

setima {
  color: #00c4cb;
}

f71 {
  font-size: 71%;
}

f80 {
  font-size: 80%;
}

cinza90 {
  color: rgb(90,90,90);
}

cinza120 {
  color: rgb(120,120,120);
}

zVerd1 {
  color: rgb(40,130,70);
}

quinta {
  color: rgb(40,174,51);
}

verde1 {
  color: rgb(40,174,51);
}

verde2 {
  color: rgb(60,194,71);
}

verde3 {
  color: rgb(20,124,31);
}


fundamental {
  color: rgb(102,68,194);
}

roxo1 {
  color: rgb(102,68,194);
}

amarelo1 {
  color: rgb(210,160,11);
}


baixo{
color: rgb(200,30,30);
}

vermelho1{
color: rgb(200,30,30);
}

vermelho2{
color: rgb(200,90,30);
}

vermlar1{
color: #FF8682;
}

terca{
color: #FF8682;
}

rosa1{
color: #CD4479;
}


ciano1{
color: rgb(93,180,211);

}


azul1 {
  color: rgb(80,90,180);
}

azul2 {
  color: rgb(50,150,250);
}

azul3 {
  color: rgb(50,130,230);
}

azul4 {
  color: rgb(100,140,230);
}



f40 {
  font-size: 40%;
}

f45 {
  font-size: 45%;
}

f50 {
  font-size: 50%;
}

f55 {
  font-size: 55%;
}


f60 {
  font-size: 60%;
}

f65 {
  font-size: 65%;
}

f70 {
  font-size: 70%;
}

f75 {
  font-size: 75%;
}

f80 {
  font-size: 80%;
}

f90 {
  font-size: 90%;
}


f100 {
  font-size: 100%;
}

f110 {
  font-size: 110%;
}

f120 {
  font-size: 120%;
}

f130 {
  font-size: 130%;
}

f140 {
  font-size: 140%;
}

f150 {
  font-size: 150%;
}

f160 {
  font-size: 160%;
}

f170 {
  font-size: 170%;
}

f180 {
  font-size: 180%;
}

f190 {
  font-size: 190%;
}

f200 {
  font-size: 200%;
}

f210 {
  font-size: 210%;
}

uptext {
font-size: 70%; vertical-align: super;
}

downtext {
font-size: 70%; vertical-align: super;
}
