


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: 'SourceSansPro Regular'; */

    font: inherit;
    vertical-align: baseline;

    overflow-x: hidden;
    overflow:hidden;
}


html,body {
  height:100%;
  width:100%;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    /* line-height: 1.2; */
    color: rgb(90,90,90);
    font-size: 80%;
}



html,body{
  font-family: 'Mulish', sans-serif;
  margin:10;
  font-size: 1.2em;
  line-height: 1.4em;
  text-shadow: none;
  overflow-y:auto;
  /* overflow:hidden; */
}

b, strong {   font-weight: 700;text-shadow: none }
i, em { font-style: italic; text-shadow: none }



/*
    Now let's bring some text styles back ...
*/

h1 {
    margin-top: 1em;
    display: block;
    font-size: 1.3em;
    width: 80vw;
    line-height: 1em;
    /*-webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);*/
}

h1b {
  text-align: right;
    display: block;
    font-size: 30px;
    /*-webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);*/
}

.auladiv {
  padding-left: 3vw;
  margin-top: 1.7em;
}

.aulasubdiv {
  padding-left: 1vw;
  /* margin-top: 1.7em; */
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  display: block;
  font-size: 1.2em;
  width: 60vw;

  line-height: 1em;
}


/*
    ... and give links a nice look.
*/
a {
    color: rgba(190,50,30,1);
    text-decoration: none;
    text-shadow: none;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}




  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media only screen and (orientation:portrait)
  {
    .wrapper{
      /* transform-origin: 50% 50%;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); */
      transform-origin:bottom left;
      overflow-y:auto;

      position:absolute;
      /* top:0;
      top:0; */
      height:100vh;
      width:100vw;


      background-color:rgba(250,250,250,1);
      color:#333;
    }

    .direitos {
      margin-top: 4em;
      font-size: 0.4em;
      line-height: 1em;
    }



  }

  @media only screen and (orientation:landscape){
    .wrapper {
      /* transform-origin: 50% 50%; */
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      background-color:rgba(250,250,250,1);
      color:#333;
      overflow-y:auto;

      position:absolute;
      /* top:0;
      top:0; */
      height:100vh;
      width:100vw;

    }
    .direitos {
      font-size: 0.7em;
      line-height: 1.2em;
      margin-top: 4em;
    }



  }



  .texto {
    text-align: justify;
    text-justify: inter-word;

  }



  a {
    font-weight: bold;
    color: rgba(200,16,46,0.9);
  }

  table {
    background-color: #eee;
  }

  td,th {
    padding: 2vmin;
    /* background-color: #eee; */
    border: 1px solid #fff;
  }

  tr:hover {background-color: #aaa;}

  th {text-align: center}

  .aulacell {
    text-align: center;
    font-weight: bold;
  }
